{% extends "layout.njk" %}
{% block  content %}
  <h1>Forum - Alla trådar</h1>
  <ul>
    {% for row in rows %}
        <li>
            <a href="/post/{{ row.id }}">{{ row.title }}</a>
            <p>Skapad av {{ row.username }} den {{ row.createdAt }}</p>
        </li>
    {% endfor %}
  </ul>
{% endblock %}